@inject IDbContextFactory<BlazorApp1.Data.TicketContext> DbFactory
@inject NavigationManager NavigationManager
@rendermode InteractiveServer





<div class="modal fade" id="@GetModalId(Document)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">@title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">

                <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">
                    Cancel
                </button>

                <button type="button"
                        class="btn btn-primary"
                        data-bs-dismiss="modal"
                        @onclick="Confirm">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public DocumentSummary? Document { get; set; }

    private string title = string.Empty;

    protected override void OnParametersSet()
    {
        if (Document is null)
            title = "ADvTECH Group | No title to delete";
        else
            title = $"ADvTECH Group | Delete {Document?.Id}";
    }

    public static string GetModalId(DocumentSummary? document)
    {
        ArgumentNullException.ThrowIfNull(document);
        return $"deleteDocumentModal-{document.Id}";
    }

    private async Task Confirm()
    {
        if (Document is null) return;

        using var context = DbFactory.CreateDbContext();

        var documentToDelete = await context.DocumentDetails.FindAsync(Document.Id);
        if (documentToDelete != null)
        {
            context.DocumentDetails.Remove(documentToDelete);
            await context.SaveChangesAsync();
        }

        NavigationManager.NavigateTo("/documentOverview", true);
    }
}
