@inherits LayoutComponentBase

<div class="page" style="background-color: #ffffff">
    <div class="sidebar">
        <NavMenu />
    </div>



    @* MAIN PAGE HEADER *@
    <main>
        <div class="top-row px-4" style="background-color: #ffffff; height: 100px; display: flex; align-items: center; justify-content: flex-start;">


            @* DROPDOWN *@
            <div class="dropdown">
                @* HOVER BUTTON *@
                <a href="#" class="dropdown-toggle">
                    About Us <span class="icon icon-angle-down"></span>
                </a>

                @* ITEMS *@
                <ul style="background-color: slategray" class="dropdown-menu">
                    <li><a href="https://www.advtech.co.za/advtech-short-video" class="dropdown-item" style="margin-left: 0px;">About ADvTECH</a></li>
                    <li><a href="https://www.advtech.co.za/academic-excellence" class="dropdown-item" style="margin-left: 0px;">Academic excellence</a></li>
                    <li><a href="https://www.advtech.co.za/advtech-timeline" class="dropdown-item" style="margin-left: 0px;">ADvTECH timeline</a></li>

                    @* SUB-MENU *@
                    <li class="dropdown-submenu" style="margin-left: 0px;">

                        <a href="" class="dropdown-item" style="margin-left: 0px;">Education brands » <span class="icon icon-angle-right"></span></a>
                        @* SUB-MENU MENU *@
                        <ul style="background-color: #888888; margin-left: 0px;" class="dropdown-submenu-menu">
                            <li><a href="https://www.advtech.co.za/schools-division" class="dropdown-item" style="margin-left: 0px;">Schools division</a></li>
                            <li><a href="https://www.advtech.co.za/advtech-international" class="dropdown-item" style="margin-left: 0px;">ADvTECH International</a></li>
                            <li><a href="https://www.advtech.co.za/tertiary-division" class="dropdown-item" style="margin-left: 0px;">Tertiary division</a></li>
                        </ul>
                    </li>

                    <li><a href="https://www.advtech.co.za/Resourcing_brands" class="dropdown-item" style="margin-left: 0px;">Resourcing brands</a></li>
                    <li><a href="https://www.advtech.co.za/africa-brochure" class="dropdown-item" style="margin-left: 0px;">ADvTECH International</a></li>
                    <li><a href="https://www.advtech.co.za/strategy" class="dropdown-item" style="margin-left: 0px;">Ambition and Strategy</a></li>
                    <li><a href="https://www.advtech.co.za/purpose-and-values" class="dropdown-item" style="margin-left: 0px;">Purpose and values</a></li>
                    <li><a href="https://www.advtech.co.za/our-footprint" class="dropdown-item" style="margin-left: 0px;">Our footprint</a></li>
                    <li><a href="https://www.advtech.co.za/newpageae5ba413" class="dropdown-item" style="margin-left: 0px;">CSI and bursaries</a></li>
                </ul>
            </div>

            <AuthorizeView>
                <NotAuthorized>
                    <a href="/login" style="color: #000000; margin-right: 20px;">Login</a>
                </NotAuthorized>
                <Authorized>
                    <a href="/logout" style="color: #000000;">Logout</a>
                </Authorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>



<style>

    .dropdown-item {
        margin-left: 0px;
    }


    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-toggle {
        cursor: pointer;
        color: #000;
        text-decoration: none;
        display: inline-flex;
        align-items: center;
    }
    .dropdown-toggle:hover{
            color: #000;
            text-decoration: none !important;
        }


    .dropdown-menu {
        display: none;
        position: absolute;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.0);
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 150px;
        z-index: 100;
        top: 100%;
        left: 0;
    }

        .dropdown-menu .dropdown-item {
            padding: 6px;
            color: #22428b;
            background-color: #ffffff;
            font-size: 14px;
            text-decoration: none !important; 
            display: block;
        }

            .dropdown-menu .dropdown-item:hover {
                background-color: red;
                color: white;
                text-decoration: none !important; 
            }

    .dropdown-submenu-menu {
        display: none;
        position: absolute;
        left: 100%;
        top: 0;
        padding: 0;
        list-style-type: none;
        min-width: 160px;
        width: 300px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    }

    .dropdown-submenu:hover .dropdown-submenu-menu {
        display: block;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .icon-angle-down {
        margin-left: 5px;
    }

    .dropdown-submenu {
        position: relative;
    }

    .dropdown-submenu-menu
    .dropdown-submenu:hover {
        top: 0;
        left: 100%;
    }


    .dropdown-item {
        margin-left: 0px;
    }


</style>
