@inherits LayoutComponentBase


@* TOP BAR *@
<div class="top-bar"
     style="background-color: #334049; color: white; padding: 10px; text-align:center; font-variant: small-caps; font:600; width: auto;">
    <div class="container-fluid" style="display: flex; align-items: center; justify-content: flex-start; width: 100%;">
        
        @* SOCIAL ICONS *@
        <div class="social-icons" style="margin-right: auto;">
            <a href="https://facebook.com/advtechgroup" target="_blank" aria-label="Facebook" style="margin-left: 10px; color: #ffffff">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://twitter.com/advtechgroup" target="_blank" aria-label="Twitter" style="margin-left: 10px; color: #ffffff">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.linkedin.com/company/43706" target="_blank" aria-label="LinkedIn" style="margin-left: 10px; color: #ffffff">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div>

        @* MAIL *@
        <div class="social-icons" style="margin-left: auto; font-size: 11px">
            <a href="mailto:info@advtech.co.za" target="_blank" aria-label="Mail" style="margin-right: 10px; color: white">
                <i class="fa-solid fa-envelope"></i> 
            </a>
            info@advtech.co.za
        </div>

    </div>
</div>


@* HEADER *@
<div class="top-row ps-3 navbar navbar-dark" style="background-color:#ffffff; height: 80px; width: 100%;">
    <div class="container-fluid" style="display: flex; align-items: center; justify-content: flex-start; width: 100%;">

        @* LOGO *@
        <a href="/">
            <img src="/ADvTECH_Logo.png" alt="Logo" style="height: 60px;" />
        </a>

        @* ABOUT US DROPDOWN *@
        <div class="dropdown" style="margin-left: 20px;">
            <a href="#" class="dropdown-toggle">
                About Us <span class="icon icon-angle-down"></span>
            </a>
            <ul style="background-color: slategray;margin-left: 25px; width: 100%" class="dropdown-menu">
                <li><a href="https://www.advtech.co.za/advtech-short-video" class="dropdown-item">                      About ADvTECH</a></li>
                <li><a href="https://www.advtech.co.za/academic-excellence" class="dropdown-item">                      Academic excellence</a></li>
                <li><a href="https://www.advtech.co.za/advtech-timeline" class="dropdown-item">                         ADvTECH timeline</a></li>

                @* EDUCATION BRANDS *@
                <li class="dropdown-submenu">
                    <a href="#" class="dropdown-item">Education brands &nbsp » <span class="icon icon-angle-right"></span></a>
                    <ul style="background-color: #888888;" class="dropdown-submenu-menu">
                        <li><a href="https://www.advtech.co.za/schools-division" class="dropdown-item">                 Schools division</a></li>
                        <li><a href="https://www.advtech.co.za/advtech-international" class="dropdown-item">            ADvTECH International</a></li>
                        <li><a href="https://www.advtech.co.za/tertiary-division" class="dropdown-item">                Tertiary division</a></li>
                    </ul>
                </li>
                <li><a href="https://www.advtech.co.za/Resourcing_brands" class="dropdown-item">                        Resourcing brands</a></li>
                <li><a href="https://www.advtech.co.za/africa-brochure" class="dropdown-item">                          ADvTECH International</a></li>
                <li><a href="https://www.advtech.co.za/strategy" class="dropdown-item">                                 Ambition and Strategy</a></li>
                <li><a href="https://www.advtech.co.za/purpose-and-values" class="dropdown-item">                       Purpose and values</a></li>
                <li><a href="https://www.advtech.co.za/our-footprint" class="dropdown-item">                            Our footprint</a></li>
                <li><a href="https://www.advtech.co.za/newpageae5ba413" class="dropdown-item">                          CSI and bursaries</a></li>
            </ul>
        </div>

        @* INVESTOR RELATIONS CENTRE DROPDOWN *@
        <div class="dropdown" style="margin-left: 20px;">
            <a href="#" class="dropdown-toggle">
                Investor Relations Centre <span class="icon icon-angle-down"></span>
            </a>

            <ul style="background-color: slategray; margin-left: 25px; width: 100%" class="dropdown-menu">

                @* FINANCIAL RESULTS *@
                <li class="dropdown-submenu">
                    <a href="https://www.advtech.co.za/financial-results" class="dropdown-item">                        Financial Results &nbsp » <span class="icon icon-angle-right"></span></a>
                    <ul style="background-color: #888888;" class="dropdown-submenu-menu">
                        <li><a href="https://www.advtech.co.za/financial-results-archive" class="dropdown-item">        Annual Integrated Reports Archive</a></li>
                        <li><a href="https://www.advtech.co.za/financial-results#FY2023" class="dropdown-item">         FY2023</a></li>
                        <li><a href="https://www.advtech.co.za/financial-results#FY2022" class="dropdown-item">         FY2022</a></li>
                        <li><a href="https://www.advtech.co.za/financial-results#1273187184" class="dropdown-item">     FY2021</a></li>
                        <li><a href="https://www.advtech.co.za/financial-results#FY2020" class="dropdown-item">         FY2020</a></li>
                    </ul>
                </li>
                @* ANALYST PRESENTATIONS *@
                <li class="dropdown-submenu">
                    <a href="https://www.advtech.co.za/financial-results" class="dropdown-item">                        Analyst Presentations &nbsp » <span class="icon icon-angle-right"></span></a>
                    <ul style="background-color: #888888;" class="dropdown-submenu-menu">
                        <li><a href="https://www.advtech.co.za/final-results" class="dropdown-item">                    Final Results</a></li>
                        <li><a href="https://www.advtech.co.za/interim-results" class="dropdown-item">                  Interim Results</a></li>
                        <li><a href="https://www.advtech.co.za/Strategy-Day-November-2024-presentation" 
                            class="dropdown-item">                                                                      ADvTECH Strategy Day - 26 November 2024 - Presentation</a></li>
                        <li><a href="https://www.advtech.co.za/archived-presentations" class="dropdown-item">           Archived Presentations</a></li>
                    </ul>
                </li>

                <li><a href="https://www.advtech.co.za/copy-of-esg-strategy" class="dropdown-item">                     ESG Strategy</a></li>
                <li><a href="https://www.advtech.co.za/2023-annual-integrated-report" class="dropdown-item">            2023 Annual Integrated Report</a></li>
                <li><a href="https://www.advtech.co.za/2023-sustainability-report" class="dropdown-item">               2023 Sustainability Report</a></li>
                <li><a href="https://www.advtech.co.za/ADvTECHvideos" class="dropdown-item">                            ADvTECH Videos</a></li>
                <li><a href="https://www.advtech.co.za/ADvTECHvideos" class="dropdown-item">                            5 Year Review</a></li>
                <li><a href="https://www.advtech.co.za/sens" class="dropdown-item">SENS</a></li>
                <li><a href="https://www.advtech.co.za/shareholder-diary" class="dropdown-item">                        Shareholder Diary</a></li>
                <li><a href="https://www.advtech.co.za/annual-general-meeting" class="dropdown-item">                   Annual General Meeting</a></li>
                <li><a href="https://www.advtech.co.za/analyst-coverage" class="dropdown-item">                         Analyst Coverage</a></li>

                @* SHARE PRICE *@
                <li class="dropdown-submenu">
                    <a href="https://www.advtech.co.za/share-price" class="dropdown-item">                              Share Price &nbsp »<span class="icon icon-angle-right"></span></a>
                    <ul style="background-color: #888888;" class="dropdown-submenu-menu">
                        <li><a href="https://www.advtech.co.za/interactive-share-statistics" class="dropdown-item">     Interactive Share Statistics</a></li>
                        <li><a href="https://www.advtech.co.za/share-price-calculator" class="dropdown-item">           Share Price Calculator</a></li>
                    </ul>
                </li>


                <li><a href="https://www.advtech.co.za/transfer-secretaries" class="dropdown-item">                     Transfer Secretaries</a></li>

                @* INVESTOR CONTACT *@
                <li class="dropdown-submenu">
                    <a href="https://www.advtech.co.za/investor-contact" class="dropdown-item">                         Investor Contact &nbsp »<span class="icon icon-angle-right"></span></a>
                    <ul style="background-color: #888888;" class="dropdown-submenu-menu">
                        <li><a href="https://www.advtech.co.za/newpage" class="dropdown-item">                          Register for investor SENS & share price alerts</a></li>
                        <li><a href="https://www.advtech.co.za/register-for-the-vault-alerts" 
                            class="dropdown-item">                                                                      Register for the Vault alerts</a></li>
                    </ul>
                </li>


            </ul>
        </div>

        @* GOVERNANCE *@
        <div class="dropdown" style="margin-left: 20px;">
            <a href="https://www.advtech.co.za/#" class="dropdown-toggle">
                Governance<span class="icon icon-angle-down"></span>
            </a>
            <ul style="background-color: slategray; margin-left: 25px; width: 200%" class="dropdown-menu">
                <li><a href="https://www.advtech.co.za/copy-of-annual-general-meeting" class="dropdown-item">           Annual General Meeting</a></li>
                <li><a href="https://www.advtech.co.za/board-of-directors" class="dropdown-item">                       Board of Directors</a></li>
                <li><a href="https://www.advtech.co.za/leadership-structures" class="dropdown-item">                    Leadership Structures</a></li>
                <li><a href="https://www.advtech.co.za/company-secretary" class="dropdown-item">                        Company Secretary</a></li>
                <li><a href="https://www.advtech.co.za/compliance-governance" class="dropdown-item">                    Corporate Governance</a></li>
                <li><a href="https://www.advtech.co.za/king-iv-report" class="dropdown-item">                           King IV Application Register</a></li>
                <li><a href="https://www.advtech.co.za/audit-committee-report" class="dropdown-item">                   Audit & Risk Committee Report</a></li>
                <li><a href="https://www.advtech.co.za/remuneration-report" class="dropdown-item">                      Remuneration Committee Report</a></li>
                <li><a href="https://www.advtech.co.za/tsec-report" class="dropdown-item">                              TSEC Report</a></li>
                <li><a href="https://www.advtech.co.za/esg-strategy" class="dropdown-item">                             ESG Strategy</a></li>
                <li><a href="https://www.advtech.co.za/annual-integrated-report" class="dropdown-item">                 2023 Annual Integrated Report</a></li>
                <li><a href="https://www.advtech.co.za/2023-sustainability-reportb9439dc6" class="dropdown-item">       2023 Sustainability Report</a></li>
            </ul>
        </div>

        @* MEDIA *@
        <div class="dropdown" style="margin-left: 20px;">
            <a href="https://www.advtech.co.za/#" class="dropdown-toggle">
                Media <span class="icon icon-angle-down"></span>
            </a>
            <ul style="background-color: slategray;margin-left: 25px; width: 100%" class="dropdown-menu">
                <li><a href="https://www.advtech.co.za/Blog" class="dropdown-item">                                         ADvTECH in the News</a></li>
                <li><a href="https://www.advtech.co.za/press-releases" class="dropdown-item">                               SENS Announcements</a></li>
            </ul>
        </div>

        @* CONTACTS *@
        <div class="dropdown" style="margin-left: 20px;">
            <a href="https://www.advtech.co.za/#" class="dropdown-toggle">
                Contacts <span class="icon icon-angle-down"></span>
            </a>
            <ul style="background-color: slategray;margin-left: 25px; width: 200%" class="dropdown-menu">
                <li><a href="https://www.advtech.co.za/contact-us" class="dropdown-item">                               Contacts</a></li>
                <li><a href="https://www.advtech.co.za/contact-us#StudentInformationServices" class="dropdown-item">    Student Information Services</a></li>
                <li><a href="https://www.advtech.co.za/contact-us#AccountQueries" class="dropdown-item">                Account Queries</a></li>
                <li><a href="https://www.advtech.co.za/contact-us#OnlinePlatform" class="dropdown-item">                Academic Portal</a></li>
                <li><a href="https://www.advtech.co.za/contact-us#FindUs" class="dropdown-item">                        Contact Us</a></li>
                <li><a href="https://www.advtech.co.za/copy-of-csi-and-bursaries" class="dropdown-item">                CSI & Bursaries</a></li>
            </ul>
        </div>

        @* CAREERS *@
        <div class="dropdown" style="margin-left: 20px;">
            <a href="https://www.advtech.co.za/#" class="dropdown-toggle">
                Careers <span class="icon icon-angle-down"></span>
            </a>

            <ul style="background-color: slategray;margin-left: 25px; width: 100%" class="dropdown-menu">
                @* ADvTECH CAREERS *@
                <li class="dropdown-submenu">
                    <a href="https://www.advtech.co.za/careers" class="dropdown-item">ADvTECH Careers &nbsp » <span class="icon icon-angle-right"></span></a>
                    <ul style="background-color: #888888;" class="dropdown-submenu-menu">
                        <li><a href="https://www.advtech.co.za/careers/advtech-schools-careers" class="dropdown-item">      ADvTECH Schools Careers</a></li>
                        <li><a href="https://www.advtech.co.za/careers/tertiary" class="dropdown-item">                     ADvTECH Tertiary Careers</a></li>
                        <li><a href="https://www.advtech.co.za/advtech-resourcing-careers" class="dropdown-item">           ADvTECH Resourcing Careers</a></li>
                        <li><a href="https://advtech.simplify.hr/" class="dropdown-item">                                   ADvTECH Support Office Careers</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div style="margin-left: 20px;"/>
        @* LOGIN / LOGOUT *@
        <AuthorizeView>
            <NotAuthorized>
                <a href="/login" style="color: #000000; margin-left: 20px;">Login</a>
            </NotAuthorized>
            <Authorized>
                <a href="/logout" style="color: #000000; margin-left: 20px;">Logout</a>
            </Authorized>
        </AuthorizeView>

        @* SOCIAL ICONS *@
        <div class="social-icons" style="margin-left: auto;">
            <a href="https://facebook.com/advtechgroup" target="_blank" aria-label="Facebook" style="margin-left: 10px; color: #1d408b">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://twitter.com/advtechgroup" target="_blank" aria-label="Twitter" style="margin-left: 10px; color: #1d408b">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.linkedin.com/company/43706" target="_blank" aria-label="LinkedIn" style="margin-left: 10px; color: #1d408b">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div>
    </div>
</div>


@* SIDEBAR *@
<div class="page" style="background-color: #ffffff">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@* ERROR *@
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


@* FOOTER *@
<div class="footer-container">
    @* LOGO *@
    <div class="logo-footer">
        <a href="/">
            <img src="/ADvTECH_Logo_Grey.svg" alt="Logo" style="height: 60px;" />
        </a>
    </div>


    @* SOCIAL ICONS *@
    <div class="social-footer">
        <a class="social-footer-item" href="https://facebook.com/advtechgroup" target="_blank" aria-label="Facebook" style="margin-left: 10px; color: #ffffff">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a class="social-footer-item" href="https://twitter.com/advtechgroup" target="_blank" aria-label="Twitter" style="margin-left: 10px; color: #ffffff">
            <i class="fab fa-twitter"></i>
        </a>
        <a class="social-footer-item" href="https://www.linkedin.com/company/43706" target="_blank" aria-label="LinkedIn" style="margin-left: 10px; color: #ffffff">
            <i class="fab fa-linkedin-in"></i>
        </a>
    </div>
    
    @* MENU BACK *@
    <div class="menu-bar">
        <a href="https://www.advtech.co.za/" class="menu-item">Home</a>
        <a href="https://www.advtech.co.za/disclaimer" class="menu-item">Disclaimer</a>
        <a href="https://www.advtech.co.za/advtech-terms-and-conditions" class="menu-item">Terms & Conditions</a>
        <a href="https://www.advtech.co.za/newpage616c1189" class="menu-item">PO Terms & Conditions: Schools Division</a>
        <a href="https://www.advtech.co.za/paia" class="menu-item">PAIA</a>
        <a href="https://www.advtech.co.za/privacy-notice" class="menu-item">Privacy Notice</a>
        <a href="https://www.advtech.co.za/code-of-conduct-business-ethics" class="menu-item" style="display: inline-block !important">Code of Conduct Business Ethics</a>
    </div>
    
    @* COPYRIGHT *@
    <div class="copyright">
        © 2025 Copyright | ADvTECH Group Ltd
    </div>
</div>




@* ===================== STYLES ===================== *@
<style>

    /* =============== DROPDOWN ===============*/

    .dropdown:hover .dropdown-menu {
        display: block;
    }


    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-toggle {
        cursor: pointer;
        color: #000;
        text-decoration: none;
        display: inline-flex;
        align-items: center;
    }

        .dropdown-toggle:hover {
            color: #000;
            text-decoration: none !important;
        }


    /* DROPDOWN MENU */

    .dropdown-menu {
        display: none;
        position: absolute;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.0);
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 150px;
        z-index: 100;
        top: 100%;
        left: 0;
    }

        .dropdown-menu .dropdown-item {
            padding: 6px;
            color: #22428b;
            background-color: #ffffff;
            font-size: 14px;
            text-decoration: none !important;
            display: block;
        }

            .dropdown-menu .dropdown-item:hover {
                background-color: #c32d32ff;
                color: white;
                text-decoration: none !important;
            }


    .icon-angle-down {
        margin-left: 5px;
    }

    
    /* DROPDOWN-SUBMENU */
    
    .dropdown-submenu {
        position: relative;
    }

        .dropdown-submenu:hover .dropdown-submenu-menu {
            display: block;
        }

    .dropdown-submenu-menu {
        display: none;
        position: absolute;
        left: 100%;
        top: 0;
        padding: 0;
        list-style-type: none;
        min-width: 160px;
        width: 300px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    }

    .dropdown-submenu-menu .dropdown-submenu:hover {
        top: 0;
        left: 100%;
    }


    /* DROPDOWN-ITEM */

    .dropdown-item {
        margin-left: 0px !important;
    }


    /* =============== FOOTER SECTION =============== */
    .footer-container {
        background-color: red;
        display: flex;
        flex-direction: column;
        padding: 0px 0; 
        margin-top: auto; 
    }

    /* FOOTER LOGO */
    .logo-footer {
        background-color: #334049;
        color: #888888;
        text-align: center;
        padding: 10px 0;
        font-size: 10px;
    }

    /* FOOTER SOCIAL */

    .social-footer{
        text-align: center;
    }

    .social-footer-item {
        margin-left: 10px;
        color: #ffffff;
        transition: transform 0.3s ease;
        position: relative;
        justify-content: center;
        align-items: center;
        display: inline-block;
        text-align: center;
        padding: 5px;
    }

        .social-footer-item:hover {
            transform: translateY(-5px);
        }

        .social-footer-item i {
            font-size: 20px;
        }




    /* FOOTER MENU BAR */
    .menu-bar {
        background-color: #334049;
        color: #888888;
        text-align: center;
        padding: 10px 0; 
        font-size: 12px;
    }

    .menu-item {
        color: #ffffff;
        margin-left: 15px;
        font-weight: 400;
        text-decoration: none;
    }

        .menu-item:hover {
            text-decoration: underline !important;
        }

    /* FOOTER COPYRIGHT */
    .copyright {
        background-color: #ffffff;
        color: #555555;
        text-align: center;
        padding: 5px 0;
        font-size: 10px;
    }


</style>
