@* NAVIGATION MENU *@
<div class="top-row ps-3 navbar navbar-dark" style="background-color:#ffffff; height: 100px;">
    <div class="container-fluid" style="display: flex; align-items: center;">
        <img src="/ADvTECH_Logo.png" alt="Logo" style="height: 80px;" />
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

@* NAVIGATION BAR *@
<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()" style="background-color: #334049">
    <nav class="flex-column">

        @* HOME *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu home-icon" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        @* ALL USERS *@
        <AuthorizeView Roles="Administrator,User">
            <Authorized>

                @* DocumentOverview *@
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="documentOverview">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Tickets Overview
                    </NavLink>
                </div>

                @* AddDocument *@
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="document">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Log New Ticket
                    </NavLink>
                </div>

            </Authorized>
        </AuthorizeView>

        @* ADMIN ONLY *@
        <AuthorizeView Roles="Administrator">
            <Authorized>

                @* UserOverview *@
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="userOverview">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> User Overview
                    </NavLink>
                </div>

                @* AddUser *@
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="add-user">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Add New User
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

<style>
    .nav-scrollable {
        min-width: max-content;
    }

    .nav-scrollable .nav-item {
            white-space: nowrap;
    }

    .home-icon {
        color: red !important;
    }

    .home-icon:hover {
        color: #e31e27 !important;
    }

    .nav-link {
        color: #ffffff !important;
    }

    .nav-link:hover {
        color: #e31e27 !important;
    }
</style>
