@page "/"

@attribute [Authorize(Roles = "Administrator, User")]

<PageTitle>Home</PageTitle>


<div class="row" style="margin-bottom: 5%; background-color: #ffffff">
	<div class="col-12">
		<div class="card">
			<div class="card-body" style="background-color: #ffffff; color: #000000">

				@* USER LOGIN HEADER *@
				<AuthorizeView>
					<NotAuthorized>
						<span>
							You are not logged in. Please <a class="fw-bolder" href="/login">click here</a> to log in.
						</span>
					</NotAuthorized>
					<Authorized>
						<span>
							Logged in as <b>@context.User.Identity.Name</b>. <a class="fw-bolder" href="/logout">Click here</a> to log out.
						</span>
					</Authorized>
				</AuthorizeView>
			</div>
		</div>
	</div>
</div>



<div style="display: flex; justify-content: center; align-items: center; flex-direction: column; 
			text-align: center; background-color: #ffffff">
	@* BODY HEADER *@
	<h1 style="font-weight:600; background-color: #ffffff; color:#22428b; margin-bottom: 100px">ADvTECH<br />TICKET MANAGEMENT</h1>

	@* COUNTER COMPONENT *@
    @* <Counter IncrementAmount="5" /> *@
    <div style="margin-bottom: 100px;"></div>

	@* WEATHER COMPONENT *@
    @* <Weather /> *@

</div>
