@page "/"
@attribute [Authorize(Roles = "Administrator, Technician, User")]

<PageTitle>Home</PageTitle>


<div class="row" style="margin-bottom: 2%; background-color: #ffffff">
	<div class="col-12">
		<div class="card">
			<div class="card-body" style="background-color: #ffffff; color: #000000">
				@* LOGIN HEADER *@
				<AuthorizeView>
					<NotAuthorized>
						<span>
							You are not logged in. Please <a class="fw-bolder" href="/login">click here</a> to log in.
						</span>
					</NotAuthorized>
					<Authorized>
						<span>
							Logged in as <b>@context.User.Identity.Name</b>. <a class="fw-bolder" href="/logout">Click here</a> to log out.
						</span>
					</Authorized>
				</AuthorizeView>
			</div>
		</div>
	</div>
</div>



<div style="display: flex; justify-content: center; align-items: center; flex-direction: column;
			text-align: center; background-color: #ffffff">

	@* ADMIN *@
	<AuthorizeView Roles="Administrator">
		<Authorized>
			<div style="width: 100%; overflow-x: auto;">
				<TicketOverview />
			</div>
		</Authorized>
	</AuthorizeView>

	
	@* TECHNICIAN *@
	<AuthorizeView Roles="Technician">
		<Authorized>
			<div style="width: 100%; overflow-x: auto;">
				<TicketOverview />
			</div>
		</Authorized>
	</AuthorizeView>


	@* ALL USERS *@
	<AuthorizeView Roles=", User">
		<Authorized>
			<div style="width: 100%; overflow-x: auto;">
				<UserTicketOverview />
			</div>
		</Authorized>
	</AuthorizeView>


	<div style="margin-bottom: 100px;"></div>

</div>