@page "/"

<PageTitle>Home</PageTitle>

<div style="display: flex; justify-content: center; align-items: center; flex-direction: column; text-align: center;">
    <h1 style="margin-bottom: 100px">Blazor_App</h1>
    <Counter IncrementAmount="5" />
    <div style="margin-bottom: 100px;"></div>
    <Weather />
</div>
